@import url("./assets/styles/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan";
  list-style: none;
}

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mainBlack);
  
}
.title{
  margin-top: 2rem;
}

.form-container{
  display: flex;
  margin-top: 5rem;
  align-items: center;

}
form{
  border: 1px solid  var(--primaryColor) ;
  border-radius: 10px;
 overflow: hidden;
  margin-left: 20px;
}

form input{
  width: 20rem;
  height: 2rem;
  border: none;
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
button{
border: none;
  font-size: 15px;
  color: var(--primaryColor);
  background-color: rgba(0, 0, 0, 0);
}
form button{
 
  height: 100%;
}

form button i{
  margin: 10px;
}

form button:hover{
  background-color: var(--primaryColor);
  color:var(--bodyColor);
}




.select{
height: 2rem;
border: 1px solid var(--primaryColor);
border-radius:10px ;
color: var(--mainBlack);
overflow: hidden;
padding: 5px;
}
.filter-todos{
  border: none;
  margin-left: 10px;
}

.todo-container{
  margin-top: 2rem;
}


.todo{
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
  padding: 0.5rem;
  justify-content: space-between;
  
}

.todo span{
  margin-right: 10px;
}

.todo__title,.todo__createdAt,.todo__button{
  width: 30%;
}

.todo__createdAt{
  margin-left: 40px;
}

.todo__button{
  display: flex;
  justify-content: flex-end;
}
.todo__button button{
  margin-left: 10px;
}



.todo .todo-item{
  width: 20rem;
}

.todo i{
  color: var(--mainGrey);
}

.todo .todo__remove:hover{
  color: var(--mainRed);
}

.todo .fa-edit:hover{
  color: var(--primaryColor);
}

.todo .todo__check:hover{
color: rgb(98, 216, 177);
}

